.default-section {
    padding-top: 7rem;
    padding-bottom: 7rem;

    &-header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 7rem;
    
        &-text {
            width: 50%;
        }
    }

    &-more {
        margin-top: 4rem;

        img {
            height: 25px;
            width: auto;
            margin: 0.2rem 0 0 1rem;
        }
    }
}

@media screen and (max-width: $resp-tablet) {
    .default-section .default-section-header-text {
        width: 100%;
    }
}
