.twocol-section {
    display: grid;
    gap: 3em;
    grid-template-columns: 22% 2fr;
    justify-items: space-between;
    align-items: center;
    padding: 4em 2em;

    .side-nav {
        align-self: start;
        background: $white;
        box-shadow: $shadow;
        border-radius: $border-radius;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2em 2em;

        &-links {
            margin-bottom: 1.2em;

            a {
                color: $black;

                &:hover {
                    color: $purple;
                }
            }
        }

        &-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.5em;
            font-size: 1.2rem;

            img {
                margin-left: 0.5em;
            }
        }

    }

    .twocol-main {

        &-header {
            margin-bottom: 2em;
        }

        &-search {
            width: 100%;
            display: flex;
            margin-bottom: 3em;

            input[type=text] {
                box-shadow: $shadow;
                background: rgb(241, 241, 241);
                height: 50px;
                width: 100%;
                border: none;
                font-size: 1.2em;
                opacity: $opacity-light;
                padding: 0 0.8em;
                border-radius: 0 0.8em 0.8em 0;
            }
        }

        &-cards {
            display: flex;
            justify-content: space-between;
            margin-bottom: 3em;

            &-cats {
                margin-right: 1rem;
                display: grid;

                .twocol-main-cards-header {
                    align-self: start;
                }
            }

            &-cats-links {
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-items: center;
                align-items: center;
                gap: 1rem;

                .link {
                    margin-bottom: 1rem;
                }
            }

            &-header {
                display: flex;
                align-items: center;
                margin-bottom: 1em;

                .label {
                    margin-left: 1em;
                }
            }

            .card-1 {
                margin-right: 1em;
            }

            .twocol-info-card {
                box-shadow: $shadow;
                padding: 2em;
                border-radius: $border-radius;

                &-text p {
                    opacity: $opacity-light;
                    font-size: 0.8rem;
                }

                &-content {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 1em;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .label {
                        margin-left: 6em;
                    }
                }
            }
        }

        &-bottom {

            &-header {
                display: flex;
                align-items: center;
                margin-bottom: 1em;

                .label {
                    margin-left: 1em;
                }
            }

            h4 {
                font-size: 1.1rem;
                margin-bottom: 0.2em;
            }

            &-body {
                margin-bottom: 1.5em;

                p {
                    margin-bottom: 0.2em;
                }

                a {
                    font-size: 0.9rem;
                    font-weight: 700;
                }
            }
        }
    }
}


@media screen and (max-width: $resp-tablet) {
    .twocol-section {
        grid-template-columns: 1fr;

        .side-nav {
            flex-direction: row;
            justify-content: space-between;
        }

        .side-nav-header {
            justify-content: center;
        }

        .twocol-main-header {
            
            h1 {
                font-size: 1.6rem;
            }
        }

        .twocol-main-search input[type=text] {
            padding: 0 0.2em;
            width: 100%;
        }

        .twocol-main-cards {
            flex-direction: column;
            margin-bottom: 0;

            &-group {
                margin-bottom: 4em;
            }
    
            &-header {

                 h2 {
                     font-size: 1.4rem;
                 }
            }

            .twocol-info-card-content .label {
                margin-left: 2.2em
            }

            .card-1 {
                margin-right: 0;
            }
        }
    }
}

@media screen and (max-width: $resp-phone) {
    .twocol-section {
        grid-template-columns: 1fr;

        .side-nav {
            flex-direction: column;
            justify-content: center;
        }

        .side-nav-header {
            justify-content: center;
        }
    }
}