.page-header {
    color: $white;
    background: $black;
    height: 50vh;

    .container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;

        .page-header-content {
            margin-top: 5rem;
        }

        p {
            margin: 1rem 0;
            opacity: $opacity-light;
        }
    }
}