.default-section .grid {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 2rem;
}

.plan-card {
    border-radius: $border-radius;
    box-shadow: $shadow;
    padding: 2em 2.5rem;
    width: 100%;
    color: $white;
    text-align: center;
    text-transform: capitalize;

    img {
        max-height: 180px;
    }

    .price {
        font-size: 1.4rem;
        font-weight: bold;

        .month {
            font-size: 0.9rem;
        }
    }

    &-feature {
        margin: 0.8em 0;
        text-align: left;
        display: flex;
        justify-content: flex-start;

        img {
            margin-right: 0.4em;
        }
    }

    button {
        margin-top: 1em;
    }
}