.plan-card {
    background: rgb(167,65,226);
    border-radius: $border-radius;
    box-shadow: $shadow;
    padding: 2em 2.5em;
    color: $white;
    width: 320px;
    text-align: center;
    text-transform: capitalize;

    img {
        max-height: 180px;
    }

    .price {
        font-size: 1.4rem;
        font-weight: bold;

        .month {
            font-size: 0.9rem;
        }
    }

    &-feature {
        margin: 0.8em 0;
        text-align: left;
        display: flex;
        justify-content: flex-start;

        img {
            margin-right: 0.4em;
        }
    }

    button {
        margin-top: 1em;
    }
}

.bg-grad-purple {
    background: $purple;
    background: $grad-purple;
}

.bg-grad-blue {
    background: rgb(34,95,216);
    background: linear-gradient(120deg, rgba(34,95,216,1) 0%, rgba(51,198,202,1) 65%, rgba(34,216,77,1) 100%); 
}

.bg-grad-red {
    background: rgb(226,65,65);
    background: linear-gradient(120deg, rgba(226,65,65,1) 0%, rgba(232,97,160,1) 45%, rgb(216, 158, 34) 100%);
}