.hero {
    color: $white;
    background: $black;
    height: 100vh;

    .flex {
        justify-content: space-between;
        height: 100%;
    }

    .hero-content {

        p {
            margin: 2rem 0;
        }

        button {
            margin-right: 2rem;
        }
    }

    img {
        position: absolute;
        bottom: 0; 
        right: 0;
        align-self: flex-end;
        max-width: 520px;
    }
}

#plans .flex {
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 6rem;
    padding-bottom: 8rem;

    .flex{
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

