.hero {
    color: $white;
    background: $black;
    height: 100vh;

    .flex {
        justify-content: space-between;
        height: 100%;
    }

    .hero-content {
        margin-top: 10vh;

        p {
            margin: 2rem 0;
        }

        button {
            margin-right: 2rem;
        }
    }

    img {
        position: absolute;
        bottom: 0; 
        right: 0;
        align-self: flex-end;
        max-width: 520px;
    }
}

#plans .flex {
    justify-content: space-between;
    flex-wrap: wrap;

    .flex{
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

#reviews {

    .review-cards-more {
        margin-top: 4rem;

        img {
            height: 25px;
            width: auto;
            margin: 0.2rem 0 0 1rem;
        }
    }
}

