//
//Solid Backgrounds
//
.bg-black {
    background-color: $black;
}

.bg-black-blue {
    background-color: $black-blue;
}

.bg-black-blue-light {
    background-color: $black-blue-light;
}

.bg-white {
    background-color: $white;
}

.bg-purple {
    color: $white;
    background-color: $purple;
}

.bg-blue {
    color: $white;
    background-color: $blue;
}

.bg-green {
    color: $white;
    background-color: $green;
}

.bg-red {
    color: $white;
    background-color: $red;
}

.bg-yellow {
    color: $white;
    background-color: $yellow;
}

.bg-gray {
    color: $white;
    background-color: $gray;
}


//
//Gradient Backgrounds
//
.bg-grad-purple {
    background: $grad-purple;
}

.bg-grad-purple-2 {
    background: linear-gradient(120deg, rgba(97,107,232,1) 0%, rgba(167,65,226,1) 65%, rgba(34,166,216,1) 100%);
}

.bg-grad-purple-3 {
    background: linear-gradient(120deg, rgb(156, 97, 232) 0%, rgb(34, 128, 216) 65%, rgba(167,65,226,1) 100%);
}

.bg-grad-blue {
    background: $grad-blue; 
}

.bg-grad-blue-2 {
    background: linear-gradient(120deg, rgba(34,95,216,1) 0%, rgb(34, 216, 161) 65%, rgba(51,198,202,1) 100%);
}

.bg-grad-blue-3 {
    background: linear-gradient(120deg, rgb(34, 149, 216) 0%, rgb(51, 202, 182) 65%, rgb(34, 216, 140) 100%);
}

.bg-grad-red {
    background: $grad-red;
}

.bg-grad-red-2 {
    background: linear-gradient(120deg, rgb(226, 103, 65) 0%, rgb(232, 97, 126) 45%, rgb(216, 152, 34) 100%);
}

.bg-grad-red-3 {
    background: linear-gradient(120deg, rgb(226, 156, 65) 0%, rgb(232, 97, 97) 45%, rgb(216, 116, 34) 100%);
}