.btn,
button {
    display: inline-block;
    border: none;
    color: $white;
    background: $black-blue;
    line-height: 1.2;
    font-family: $poppins;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    padding: 0.9em 1.6em;
    margin: 0;
    border-radius: $border-radius;
    box-shadow: $shadow;
    transition: $trans-1;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:hover {
        color: darken($white, 15);
        background: lighten($black-blue, 15);
    }
}

.btn-search-purple {
    background: $purple;
    border-radius: 0.8em 0 0 0.8em;

    &:hover {
        color: darken($white, 15);
        background: darken($purple, 15);
    }
}

.btn-search-blue {
    background: $blue;
    border-radius: 0.8em 0 0 0.8em;

    &:hover {
        color: darken($white, 15);
        background: darken($blue, 15);
    }
}

.btn-purple {
    background: $purple;

    &:hover {
        color: darken($white, 15);
        background: darken($purple, 15);
    }
}

.btn-blue {
    background: $blue;

    &:hover {
        color: darken($white, 15);
        background: darken($blue, 15);
    }
}

.btn-white-purple {
    background: $white;
    color: $purple;

    &:hover {
        color: darken($purple, 15);
        background: darken($white, 15);
    }
}

.btn-white-blue {
    background: $white;
    color: $blue;

    &:hover {
        color: darken($blue, 15);
        background: darken($white, 15);
    }
}

.btn-white-red {
    background: $white;
    color: $red;

    &:hover {
        color: darken($red, 15);
        background: darken($white, 15);
    }
}

.btn-outline-white {
    background: none;
    color: $white;
    border: 3.5px solid $white;
    padding: 0.7em 1.5em;
    box-shadow: none;

    &:hover {
        color: $purple;
        background: none;
    }
}

.btn-grad-purple {
    background: $grad-purple;
    color: $white;

    &:hover {
        color: darken($white, 15);
        background: $grad-purple;
        box-shadow: $shadow-purple;
        transform: scale(1.05);
    }
}

.btn-grad-blue {
    background: $grad-blue;
    color: $white;

    &:hover {
        color: darken($white, 15);
        background: $grad-blue;
        box-shadow: $shadow-blue;
        transform: scale(1.05);
    }
}

.btn-grad-red {
    background: $grad-red;
    color: $white;

    &:hover {
        color: darken($white, 15);
        background: $grad-red;
        box-shadow: $shadow-red;
        transform: scale(1.05);
    }
}