h1, h2, h3, h4, h5 {
    font-family: $poppins;
    line-height: 1.2;
    text-transform: capitalize;
}

h1 { font-size: 2.5rem; }

.head-xl {
    font-size: 3.5rem;
}

.head-l {
    font-size: 3rem;
}

.head-m {
    font-size: 1.5rem;
}

.text-center {
    text-align: center;
}

.text-purple {
    color: $purple;
}